.labelBox {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.labelBox label {
  font-weight: 700;
  font-size: 14px;
  color: var(--black);
}

.labelBox input {
  height: 50px;
  border: 3px solid var(--primary);
  border-radius: 25px;
  padding: 0 20px;
  font-size: 16px;
  outline: none;
  background-color: var(--white);
  color: var(--black);
  transition:
    box-shadow 0.3s,
    border-color 0.3s;
  box-sizing: border-box;
}

.labelBox input:focus {
  box-shadow: 0 0 10px rgba(173, 255, 47, 0.5);
  border-color: var(--primary);
}

.error {
  color: #ff4d4f;
  font-size: 13px;
  margin-left: 15px;
  font-weight: 600;
}

.checkboxBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin: 5px 0;
}

.checkboxBox input {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 3px solid var(--primary);
  border-radius: 6px;
  cursor: pointer;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  position: relative;
  transition: all 0.2s;
}

.checkboxBox input:checked {
  background-color: var(--primary);
}

.checkboxBox input:checked::after {
  content: '';
  width: 5px;
  height: 10px;
  border: solid var(--black);
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(45deg);
  margin-bottom: 2px;
}

.checkboxBox label {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  color: var(--black);
  user-select: none;
}
