:root {
  --primary: #a2ff00;
  --white: #ffffff;
  --grey: #464646;
  --black: #010101;
  --turquise-bg: #125050;
  --lighting: #00e5ff;
  --gray-300: #ececec;

  --font-lexend: 'Lexend', sans-serif;
  --font-inter: 'Inter', sans-serif;

  --text: var(--black);
  --text-h: var(--black);
  --bg: #fefefe;
  --border: var(--grey);
  --code-bg: #f4f3ec;
  --accent: var(--primary);
  --accent-bg: rgba(162, 255, 0, 0.1);
  --accent-border: rgba(162, 255, 0, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: var(--font-inter);
  --heading: var(--font-lexend);
  --mono: ui-monospace, Consolas, monospace;

  font: 400 20px var(--sans);
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  #root {
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: clip;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading);
  color: var(--text-h);
  margin: 0;
}

h1 {
  font-size: 56px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

.text-small {
  font-size: 16px;
  font-weight: 400;
}

button {
  font-family: var(--heading);
  font-weight: 500;
  font-size: 16px;
}

.ant-typography,
h1.ant-typography,
h2.ant-typography,
h3.ant-typography,
h4.ant-typography,
h5.ant-typography,
h6.ant-typography {
  font-family: var(--font-lexend) !important;
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
